{{ define "main" }}
<div class="command-line fade-in">
  <span class="prompt-symbol">$</span>
  <span class="cmd">ls -la ~/{{ .Title | lower }}</span>
</div>

<div class="fade-in" style="animation-delay: 0.15s;">
  {{ .Content }}
</div>

{{ $pages := .Pages }}
{{ if $pages }}
<div class="fade-in" style="animation-delay: 0.25s;">
  <div class="ls-header">
    <span style="width: 10ch;">perms</span>
    <span style="width: 12ch;">date</span>
    <span style="width: 6ch; text-align: right;">size</span>
    <span>name</span>
  </div>
  {{ range $pages }}
  <div class="ls-entry">
    <span class="ls-perms">-rw-r--r--</span>
    <span class="ls-date">{{ .Date.Format "Jan 02 2006" }}</span>
    <span class="ls-size">{{ .ReadingTime }}m</span>
    <a href="{{ .Permalink }}" class="ls-name">{{ .Title }}</a>
  </div>
  {{ end }}
</div>
{{ end }}
{{ end }}
